@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(34, 78, 9);
  color: white;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.spinner-border {
  height: 100px;
  width: 100px;
}

.category {
  border: 2px solid gray;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.category img {
  margin-left: 10px;
}
.category-active {
  border: 2px solid green;
  background-color: aquamarine;
}
