.ant-layout-has-sider {
  padding: 05px !important;
}
.ant-layout.ant-layout-has-sider {
  height: 100vh;
}
.ant-layout-header {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
  border-radius: 5px;
  margin: 10px;
  overflow: auto;
}
.ant-layout-sider {
  padding-top: 5px !important;
  border-radius: 10px !important;
}
